<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>特殊字体Demo</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!-- inject:vendor:css -->
  <!-- endinject -->
  <!-- inject:common:css -->
  <!-- endinject -->
  <!-- inject:page:css -->
  <!-- endinject -->
</head>

<body>
  <div class="content">
    <h3>奇舞团.送别</h3>
    <p>
      奇舞轻轻酒一杯，
      <br/> 情谊满满表钦佩；
      <br/> 相遇相送无远近，
      <br/> 绿水青山映心扉；
      <br/> 情怀依旧人未老，
      <br/> 再创辉煌心腾飞；
      <br/> 鹏程锦绣举万里，
      <br/> 团外旧属送余晖。
    </p>
  </div>
  <!-- inject:vendor:js -->
  <!-- endinject -->
  <!-- inject:common:js -->
  <!-- endinject -->
  <!-- inject:page:js -->
  <!-- endinject -->
</body>

</html>
